<div id="login">
    <h3><?php echo $this->translate("ot-login-index:header"); ?></h3>

    <ul class="nav nav-tabs">
        <?php foreach ($this->loginForms as $key => $f): ?>
            <li<?php echo ($key == $this->realm || count($this->loginForms) == 1) ? ' class="active"' : ''; ?>><a href="#tabs-<?php echo $key; ?>" data-toggle="tab"><?php echo $f['name']; ?></a></li>
        <?php endforeach; ?>
    </ul>

    <div class="tab-content">
        <?php foreach ($this->loginForms as $key => $f): ?>
        <div class="tab-pane<?php echo ($key == $this->realm || count($this->loginForms) == 1) ? ' active' : ''; ?>" id="tabs-<?php echo $key; ?>">
            <div class="description">
                <?php echo $f['description']; ?>
            </div>
            <?php echo $f['form']; ?>
        </div>
        <?php endforeach; ?>
    </div>
</div>