<?php echo $this->translate("ot-emailqueue-index:header"); ?>
<br /><br />

<?php echo $this->form; ?>

<p><a href="<?php echo $this->url(array('controller' => 'emailqueue', 'action' => 'test'), 'ot', true); ?>" class="btn">Send Test Email</a></p>

<div class="results">
<?php if (count($this->paginator)): ?>

    <h4><?php echo $this->paginator->getTotalItemCount(); ?> Email<?php echo ($this->paginator->getTotalItemCount() != 1) ? 's' : ''; ?> Found</h4>
    
    <table class="table table-bordered table-striped">    
        <thead>
            <tr>
                <th>Message</th>
                <th>Dates</th>
                <th>Trigger</th>                
                <th>Details</th>                
            </tr>
        </thead>        
        <tbody>        
            <?php foreach ($this->paginator as $message): ?>   
                <?php $mo = unserialize($message['zendMailObject']); ?>
                <tr>
                    <td>
                        <b><?php echo $mo->getSubject() ?></b><br />
                        <i>To: <?php echo implode(', ', $mo->getRecipients()); ?></i>
                    </td>
                    <td>
                        <b>Queued On:</b> <?php echo $this->dateFormat($message['queueDt'], $this->configVar('dateTimeFormat')); ?><br />
                        <?php 
                        if ($message['status'] == 'sent') {
                            echo "<b>Sent On:</b> " . $this->dateFormat($message['sentDt'], $this->configVar('dateTimeFormat'));
                        } elseif ($message['status'] == 'error') {
                            echo '<b class="red">Not Sent Because Of Error</b>';
                        } elseif ($message['status'] == 'waiting') {
                            echo '<b>Waiting To Be Sent</b>';
                        }
                        ?>
                    </td>
                    <td>
                        <?php 
                        if ($message['attributeName'] == 'triggerActionId') {
                            $t = $this->triggers[$message['attributeId']];

                            echo "<b>" . $t->name . "</b>";
                        } else {
                            echo "No Trigger";
                        }

                        ?>
                    </td>
                        
                    <td style="text-align:center">
                        <a href="<?php echo $this->url(array('controller' => 'emailqueue', 'action' => 'details', 'queueId' => $message['queueId']), 'ot', true); ?>" class="btn">Details</a></td>
                </tr>                
            <?php endforeach; ?>                    
        </tbody>    
    </table>
    
    <div id="itemFooter">
        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'bootstrap-pagination.phtml'); ?>
    </div>
<?php else: ?>    
   <div class="noItems">There are no emails at the moment.</div>    
<?php endif; ?>
</div>