<?php if (!$this->guestHasAccess) : ?>
    <div class="alert">
        <?php echo $this->translate('ot-cron-index:noAccess', array($this->defaultRole->name))?>
        <?php if ($this->acl['acl']) : ?>
        <a href="<?php echo $this->baseUrl(); ?>/ot/acl"><?php echo $this->translate('ot-cron-index:editAcl'); ?></a> 
        <?php endif; ?>
    </div>
    <br />
<?php endif; ?>

<?php echo $this->translate('ot-cron-index:header'); ?>
<br /><br />

    <?php if ($this->acl['list-lock-files']): ?>
    <a href="<?php echo $this->url(array('controller' => 'cron', 'action' => 'list-lock-files'), 'ot', true); ?>" class="btn btn-warning">List Lock Files</a>
    <?php endif; ?>
    <?php if ($this->acl['toggle']): ?>
    <a href="#enableAll" data-toggle="modal" class="btn btn-success"><i class="icon-white icon-plus"></i> <?php echo $this->translate('ot-cron-index:linkEnableAll'); ?></a>
    <a href="#disableAll" data-toggle="modal" class="btn btn-danger"><i class="icon-white icon-minus"></i> <?php echo $this->translate('ot-cron-index:linkDisableAll'); ?></a>  
    <br /><br />
    
    <div id="enableAll" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal" class="close" href="#">&times;</a>
            <h3>Enable All Cron Jobs</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to enable all cron jobs?</p>
        </div>
        <div class="modal-footer">
            <form style="margin: 0;" method="post" action="<?php echo $this->url(array('controller' => 'cron', 'action' => 'toggle'), 'ot', true); ?>">
                <input type="hidden" name="status" value="enabled" />
                <input type="hidden" name="jobKey" value="all" />
                <input type="submit" name="submit" value="Yes, Enable All Jobs" class="btn btn-success" />
                <input type="button" name="cancel" value="Cancel" class="btn" data-dismiss="modal" />
            </form>
        </div>
    </div>   
    
    <div id="disableAll" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal" class="close" href="#">&times;</a>
            <h3>Disable All Cron Jobs</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to disable all cron jobs?</p>
        </div>
        <div class="modal-footer">
            <form style="margin: 0;" method="post" action="<?php echo $this->url(array('controller' => 'cron', 'action' => 'toggle'), 'ot', true); ?>">
                <input type="hidden" name="status" value="disabled" />
                <input type="hidden" name="jobKey" value="all" />
                <input type="submit" name="submit" value="Yes, Disable All Jobs" class="btn btn-danger" />
                <input type="button" name="cancel" value="Cancel" class="btn" data-dismiss="modal" />
            </form>
        </div>
    </div> 
    <?php endif; ?>

    <?php if (count($this->cronjobs) != 0): ?>
        <?php foreach ($this->cronjobs as $c): ?>
            <div class="job well well-small">
                <div class="row">
                    <div class="span1 status <?php echo ($c['isEnabled']) ? 'enabled' : 'disabled'; ?>">

                    </div>
                    <div class="span7">
                        <h3 class="name"><?php echo $c['job']->getName(); ?></h3>
                        <div class="description"><?php echo $c['job']->getDescription(); ?></div>
                        <div class="schedule">
                            <?php
                            echo "Executes " . lcfirst($c['schedule']) . ' ';
                            
                            if ($c['lastRunDt'] != 0) {
                                echo 'Last executed ' . $this->elapsedTime($c['lastRunDt']);
                            } else {
                                echo $this->translate('ot-cron-index:neverRun');
                            }
                            ?>
                        </div>
                    </div>
                    <div class="span3 actions pull-right">
                        <?php if ($this->acl['toggle']): ?>
                            <a href="#toggleModal<?php echo $c['job']->getKey(); ?>" data-toggle="modal" class="btn btn-mini <?php echo ($c['isEnabled']) ? 'btn-danger' : 'btn-success'; ?>">
                                <?php
                                if ($c['isEnabled']) {
                                    echo '<i class="icon-white icon-minus"></i> ' . $this->translate('ot-cron-index:disable');
                                } else {
                                    echo '<i class="icon-white icon-plus"></i> ' . $this->translate('ot-cron-index:enable');
                                }
                                ?>
                            </a>
                        <?php endif; ?>

                        <?php if ($c['isEnabled']): ?>
                            <a href="<?php echo $this->url(array('controller' => 'cron', 'action' => 'job', 'jobKey' => $c['job']->getKey()), 'ot', true); ?>" class="btn btn-mini"><i class="icon icon-cog"></i> <?php echo $this->translate('ot-cron-index:runNow'); ?></a>
                        <?php endif; ?>
                    </div>                  
                </div>
            </div>
            <?php if ($this->acl['toggle']): ?>
            <div id="toggleModal<?php echo $c['job']->getKey(); ?>" class="modal hide fade">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" class="close" href="#">&times;</a>
                    <h3><?php echo (($c['isEnabled']) ? 'Disable' : 'Enable') . ' ' . $c['job']->getName() . ' Cron Job'; ?></h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to change this cron job?</p>
                </div>
                <div class="modal-footer">
                    <form style="margin: 0;" method="post" action="<?php echo $this->url(array('controller' => 'cron', 'action' => 'toggle'), 'ot', true); ?>">
                        <input type="hidden" name="jobKey" value="<?php echo $c['job']->getKey(); ?>" />
                        <input type="hidden" name="status" value="<?php echo ($c['isEnabled']) ? 'disabled' : 'enabled' ?>" />
                        <input type="submit" name="submit" value="Yes, <?php echo ($c['isEnabled']) ? 'Disable' : 'Enable'; ?>" class="btn <?php echo ($c['isEnabled']) ? 'btn-danger' : 'btn-success'; ?>" />
                        <input type="button" name="cancel" value="Cancel" class="btn" data-dismiss="modal" />
                    </form>
                </div>
            </div>
            <?php endif; ?>  
        <?php endforeach; ?>
    <?php else: ?>
    <h3>No Cron Jobs Found</h3>
    <?php endif; ?>
