<p>
<a href="<?php echo $this->url(array('controller' => 'cron', 'action' => 'index'), 'ot', true); ?>" class="btn btn-warning">Back to Cron List</a>
</p>
<?php if(!empty($this->lockFileArray)): ?>
<table class="table table-bordered table-striped">    
    <thead>
        <tr>
            <th>Lock File Name</th>
            <th>Created Timestamp</th>
            <?php if ($this->acl['delete-lock-file']): ?>
            <th>Actions</th>
            <?php endif; ?>
        </tr>
    </thead>        
    <tbody>        
        <?php foreach($this->lockFileArray as $lockFileName => $lockFileTime): ?>
            <tr>
                <td><?php echo $lockFileName; ?></td>
                <td><?php echo $lockFileTime; ?></td>
                <?php if ($this->acl['delete-lock-file']): ?>
                <td>
                    <form style="margin: 0;" method="post" action="<?php echo $this->url(array('controller' => 'cron', 'action' => 'delete-lock-file'), 'ot', true); ?>">
                        <input type="hidden" name="lockFileName" value="<?php echo $lockFileName; ?>" />
                        <input type="submit" name="submit" value="Delete" class="btn btn-success" />
                    </form>
                </td>
                <?php endif; ?>
            </tr>   
                
        <?php endforeach; ?>                    
    </tbody>    
</table>
<?php else: ?>
<p>No Lock Files Found.</p>
<?php endif; ?>
